<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Thindustrial, <%= @user.firstname %></h1>
    
    <p>
      You have received this email because you successfully signed up to attend Thindustrial 2017.
      We could not be more excited to tell you what is in store this year at Thindustrial.
    </p>
    
    <p>
      Your email associated with your account is: <%= @user.email %> and you should have received this email at that account. To login to the Thindustrial site, just follow this link: <%= @url %>.
    </p>

    <div style="background-color:#999999; padding:25px;">
    <p>If for some reason you did not sign up for the Thindustrial convention hosted by ACP ThinManager, please <a href="mailto:bharned@thinmanager.com">email us</a> immediately.</p>
    </div>
    
    <p>Once logged in you can pick from the available sessions to customize your learning experience while at Thindustrial. Browse to find information happening at the even including sponsors, exhibitors and speakers. We also have to mention that we will be having an evening activity of fun during the week as well.</p>

    <p>Thank you again for electing to attend Thindustrial, we will see you soon.</p>
  </body>
</html>