<div class="container page-content">
<h1>So Much at Thindustrial</h1>
<p>Thindustrial is packed full with so much. Through the week we have live demonstrations, exhibits, expos, classes and more. We offer the chance to hear speakers from experts in the industry that have integrated, sold, used and created ThinManager &reg;.</p> 

<p>This is a chance to really hear from and meet with those that know ThinManager best. Not to mention a chance to talk with some of our <%= link_to "sponsors", sponsors_path, style: "color:inherit; text-decoration:underline;" %> that provide the hardware and accessories that work best with ThinManager.</p>


<h2>Speakers</h2>


<h2>Classes / Sessions</h2>


<h2>Events</h2>


<h2>Round-table</h2>




</div>