<div class="container page-content">
<h1>We Are Happy to Help</h1>
<p>Thindustrial is a large event and has many parts to think about and plan for. We are happy to offer such an encompassing and educational conference but we know that sometimes it can raise questions when planning or scheduling your registration and attendence.</p>
<p>If you have questions concerning Thindustrial, we are happy to assist. Since we are still early in the planning stages, for now simply shoot us an <a href="mailto:bharned@thinmanager.com">email</a> and we will get right back to you to answer your questions.</p>
<p>Once the event is accepting registrations we will provide a call in number for even greater support in your questions and efforts.</p>
</div>