/*
.courses-content h1 {
	font-weight:bold; font-size:2em; line-height:45px; margin-top:0px !important;
	margin-bottom:5px !important; 
}
.courses-content table thead th {
	font-weight:bold; padding:10px 10px;
}
.courses-content table tr td {
	padding:10px 10px; border-bottom:1px solid #aeaeae;
}
*/






// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
