$navbar-default-bg:transparent;
/*$navbar-default-link-color:#3A3E40;*/
/*$navbar-default-link-color:#FFFFFF;*/
$navbar-default-link-hover-color:#003366;
$navbar-default-link-active-color:#003366;
$navbar-border-radius:0px !important;

@import "bootstrap-sprockets";
@import "bootstrap";