/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: ''; content: none;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
/* End CSS Reset */
.navbar {
	background-color: transparent; margin-bottom: 0px;
	position:absolute; z-index: 99999; width:100%;
	top:0;
}
ul.navbar-right a {
	color:#3A3E40 !important;
}
ul.navbar-right .dropdown ul {
	left: 0px; min-width: 200px;
}


body, html {
	font-family:"Helvetica", san-serif; 
	width:100%; height: 100%; position: relative;
	background-color:#d9d9d9; 
}
.page-content {
	padding-top: 180px; padding-bottom: 100px;
}
.page-content h1 {

}
.page-content h2 {
	font-size:1.65em; margin-top: 50px; margin-bottom: 65px; 
	font-weight:lighter; letter-spacing: -.03em; text-transform: uppercase;
}
.profile-content h2 {
	margin-top: 10px !important;
}
.profile-content p {
	margin-bottom: 0px !important;
}
.page-content p {
	margin-bottom: 25px; line-height: 20px;
}
a:hover {
	background-color: transparent; color: inherit;
}
.appear {
	display:none;
}
.goAway {
	display:inline;
}
.bold {
	font-weight:bold;
}
.app-messages {
	margin-top: 180px; margin-bottom: -180px; 
}
.content-box {
	width: 96%; max-width: 1100px; margin: auto;
}
.nav-bar a {
	text-decoration: none; text-transform: uppercase; 
}
.nav-bar a:hover {
	text-decoration: underline;
}
ul.navbar-right a {
	font-size:.95em;
}
.close {
	margin-top: -5px; margin-right: 0px;
}
.navbar-brand {
	margin-top:-10px; width:300px; height: 150px; padding: 10px; 
}
.navbar-brand img {
	width:100%; height: 100%;
}
.navbar-default {
	font-size:.75em;
}
.navbar-header {
	padding-top:25px; 
}
.navbar-nav {
	padding-top: 90px; 
}
.navbar-nav li:hover {
	text-decoration:underline;
}
.login-button {
	border-radius:25px; padding-top:4px; padding-bottom: 4px; margin-right: 0px !important; margin-top: 12px;
}
.form-group #state select {

}
.edit-link {
	font-size:.5em;
}

/************* Homepage ****************/
/*
.hp-main-logo {
	width:95%; max-width: 600px; margin: auto; margin-top: 10%;
}
.hp-main-logo img {
	width:100%;
}
*/
.hp-splash {
	position: relative; height: 100%; width: 100%; 
	background-image: url(effectOnTop.png), url(In-the-factory.jpg);
	background-size: cover; background-position: right top;
}
.hp-splash-heading {
	color:#FFFFFF; text-transform: uppercase; width:65%;
	font-size:3.2em !important; margin-top:27% !important; margin-left: 3% !important;
	border-bottom: 1px solid orange; 
}
.hp-splash-heading span {
	font-weight: bold;
}
.hp-splash-date-heading {
	color:#FFFFFF; font-weight: lighter; margin-left: 3%; margin-top: -15px;
	letter-spacing: .25em;
}
.hp-splash-register {
	margin-left:3%; margin-top: 25px; border-radius: 0px !important;
	background-color: orange; border: none; padding-left: 25px; padding-right: 25px;
}
.hp-span-one {
	width:100%; background-color: #FFFFFF;
	padding: 50px 0px 100px 0px;
}
.hp-span-one h1 {
	margin-bottom: 7px !important;
}
.hp-span-one .orange-bar{
	width:200px; margin: auto; border-bottom: 1px solid orange;
	margin-bottom: 25px;
}
.hp-span-one p {
	padding: 0px 150px; font-size: 1.35em;
}




.container h1 {
	font-size:2em; margin-bottom: 25px; margin-top: 25px;
}
.course-title {
	margin-bottom: 25px !important; margin-top: 35px; font-size: 1.7em; font-weight: bold !important;
}
.course-listing-title {
	font-weight:bold; font-size: 1.45em; margin-bottom: 8px;
}
.article-action-links {
	width: 100%; text-align: center; margin-top: 45px;
}
.description-header {
	font-weight:bold;
}
.article-meta-details {
	margin-top: 15px; margin-bottom: 10px;
}
.course-listing-actions {

}
.courses-content .well {
	margin-bottom: 7px;
}
small {
	font-size:.75em; color: #666666; 
}
.profile-content h1 {
	margin-bottom: 50px;
}
.profile-content h2 {
	font-weight:bold; font-size:1.25em; text-align: center; margin-bottom: 10px;
}
.grav-image {
	margin:auto; text-align: center; margin-bottom: 3px;
}
.profile-content .tiny {
	margin-bottom: 25px; font-size:.5em; font-style: italic;
}
.listing-name, .listing-company, .listing-email {
	padding-top:15px;
}
.schedule-listing .listing-name {
	font-weight:bold; font-size: 1.25em;
}
.list-of-class-attendees {
	padding-left: 15px;
}
.list-of-class-attendees h5 {
	font-size:.65em; font-style: italic; margin-top: 8px; margin-bottom: 7px;
}
.list-of-class-attendees ul li {
	margin-left: 2%; margin-bottom: 5px;
}








@media screen and (max-width:990px) {
.navbar-brand {
	width:180px; height: 100px;  
}
.navbar-nav {
	padding-top: 55px;
}
.hp-splash-heading {
	width:90%; font-size:2.75em !important;
}
.hp-span-one p {
	padding: 0px 75px;
}
.listing-name, .listing-company, .listing-email {
	padding-top:5px;
}
}

@media screen and (max-width:850px) {
.navbar-brand {
	width:125px; height: 70px;  
}
ul.navbar-right a {
	padding-left: 5px;
}
ul.navbar-right a.login-button {
	padding-left: 15px;
}
.navbar-nav {
	padding-top: 38px;
}
.hp-span-one p {
	padding: 0px 35px; font-size: 1.15em;
}
.listing-name, .listing-company, .listing-email {
	padding-top:5px;
}
}


@media screen and (max-width:767px) {
.register-div #city,
.register-div #state,
.register-div #email {
	margin-bottom:12px;
} 
.appear {
	display:inline;
}
.goAway {
	display:none;
}
.navbar-header {
	padding-top:9px; 
}
.navbar {
	background-color: #F1F1F1;
}
.navbar-nav {
	padding-top:0px;
}
.navbar-header .navbar-toggle {
	border-color:#888888 !important;
}
.navbar-collapse ul {
	 /*width:100%; padding-left:1.5%; padding-right:1.5%;*/
}
.navbar-default ul li {
	padding-top:8px; padding-bottom:8px;
	padding-left:15px; border-bottom:1px solid #c1c1c1; 
}
.navbar-default ul li a {
	color:#3A3E40; 
}
.navbar-brand {
	width: 120px; height: 70px;
}
ul.navbar-right .dropdown ul li {
	padding-left:35px;
}
ul.navbar-right .dropdown ul li:last-child {
	border-bottom:none;
}
ul.navbar-right a {
	padding-left: 35px; 
}
ul.navbar-right a.login-button {
	padding-left: 35px; margin-left: 0px; margin-top: -5px;
}
.navbar-default .btn {
	margin-left:20px; padding-left:35px; padding-right:35px;
}
.navbar-default {
	border-bottom:1px solid #787878;
}
.hp-splash-heading {
	width:94%; font-size:2em !important;
}
.page-content {
	padding-top: 80px;
}
.app-messages {
	margin-top: 80px; margin-bottom: -80px; 
}
}

