/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: ''; content: none;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
/* End CSS Reset */
.navbar {
	background-color: transparent; margin-bottom: 0px;
	position:absolute; z-index: 99999; width:100%;
	top:0;
}
ul.navbar-right a {
	color:#3A3E40 !important;
}
ul.navbar-right .dropdown ul {
	left: 0px; min-width: 230px;
}


body, html {
	font-family:"Helvetica", san-serif; 
	width:100%; height: 100%; position: relative;
	background-color:#d9d9d9; 
}
.page-content {
	padding-top: 180px; padding-bottom: 100px;
}
.page-content h1 {

}
.page-content h2 {
	font-size:1.65em; margin-top: 50px; margin-bottom: 65px; 
	font-weight:lighter; letter-spacing: -.03em; text-transform: uppercase;
}
.profile-content h2 {
	margin-top: 10px !important;
}
.profile-content p {
	margin-bottom: 0px !important;
}
.page-content p {
	margin-bottom: 25px; line-height: 20px;
}
a:hover {
	background-color: transparent; color: inherit;
}
.appear {
	display:none;
}
.goAway, .goAwaySooner {
	display:inline;
}
.bold {
	font-weight:bold;
}
.app-messages {
	margin-top: 180px; margin-bottom: -180px; 
}
.content-box {
	width: 96%; max-width: 1100px; margin: auto;
}
.nav-bar a {
	text-decoration: none; text-transform: uppercase; 
}
.nav-bar a:hover {
	text-decoration: underline;
}
ul.navbar-right a {
	font-size:.95em;
}
.close {
	margin-top: -5px; margin-right: 0px;
}
.navbar-brand {
	margin-top:-10px; width:300px; height: 150px; padding: 10px; 
}
.navbar-brand img {
	width:100%; height: 100%;
}
.navbar-default {
	font-size:.75em;
}
.navbar-header {
	padding-top:25px; 
}
.navbar-nav {
	padding-top: 90px; 
}
.navbar-nav li:hover {
	text-decoration:underline;
}
.login-button {
	border-radius:25px; padding-top:4px; padding-bottom: 4px; margin-right: 0px !important; margin-top: 12px;
}
.form-group #state select {

}
.edit-link {
	font-size:.5em;
}
.category-nav {
	margin-top: 30px; margin-bottom: 20px;
}
.category-nav .very-tiny {
	font-size:.65em; margin-bottom: 5px;
}

/************* Homepage ****************/
/*
.hp-main-logo {
	width:95%; max-width: 600px; margin: auto; margin-top: 10%;
}
.hp-main-logo img {
	width:100%;
}
*/
.hp-splash {
	position: relative; height: 100%; width: 100%; 
	background-image: url(effectOnTop.png), url(In-the-factory.jpg);
	background-size: cover; background-position: right top;
}
.hp-splash-heading {
	color:#FFFFFF; text-transform: uppercase; width:65%;
	font-size:3.2em !important; margin-top:27% !important; margin-left: 3% !important;
	border-bottom: 1px solid orange; 
}
.hp-splash-heading span {
	font-weight: bold;
}
.hp-splash-date-heading {
	color:#FFFFFF; font-weight: lighter; margin-left: 3%; margin-top: -15px;
	letter-spacing: .25em;
}
.hp-splash-register {
	margin-left:3%; margin-top: 25px; border-radius: 0px !important;
	background-color: orange; border: none; padding-left: 25px; padding-right: 25px;
}
.banner-dont-miss {
	position: absolute; bottom:0; width: 100%; background-color:rgba(255,255,255,1); color:#000000; height: 0; padding-top: 0; padding-bottom: 0;
}
.banner-dont-miss p {
	line-height:65px; font-size: 1.25em; text-align: center; font-weight: lighter; display: none; 
}
.banner-dont-miss p span {opacity:0; color:rgba(1,167,249,0.90);}
.hp-span-one {
	width:100%; background-color: #FFFFFF;
	padding: 50px 0px 0px 0px;
}
.hp-span-one h1 {
	margin-bottom: 7px !important;
}
.hp-span-one .orange-bar{
	width:200px; margin: auto; border-bottom: 1px solid orange;
	margin-bottom: 25px;
}
.hp-span-one p {
	padding: 0px 150px; font-size: 1.35em; margin-bottom: 100px;
}
.hp-span-one .container:after {
	content:"";
	width:90%;
	height: 0px; 
	border-radius:20px;
	box-shadow: 0px 5px 10px 2px #454545;
	margin: auto;
}
.hp-edge-span {
	width:100%; min-height: 800px; background-color: #FFFFFF; position: relative;
	padding-bottom: 100px;
}
.hp-edge-span h2 {
	font-size: 2em; margin-top: 75px; margin-bottom: -35px;
}
.hp-edge-span .edge-logo {
	width:90%; max-width:800px; position: relative; z-index: 7777;
}
.hp-edge-span .edge-mockup {
	width: 96%; max-width:800px; float:right; position:relative; z-index: 5555; 
	margin-top: -150px; margin-right: -250px; /*border: 1px solid #000000;*/
}
.hp-edge-span .edge-mockup img,
.hp-edge-span .edge-logo img {
	width: 100%;
}
.hp-edge-span h1 {
	font-size:3em !important; line-height: 65px;
}
.hp-edge-span .edge-heading {
	margin-top: 75px;
}
.hp-edge-span p {
	font-size:1.25em; line-height: 30px; margin-bottom: 25px; font-weight: 100;
}
.hp-edge-span .sub-points h3 {
	font-weight:bold; margin-bottom: 10px; font-size: 1.25em; 
}
.hp-edge-span .sub-points p {
	font-size:1em !important; margin-bottom: 17px; line-height: 23px;
}
.hp-edge-span .sub-points .col-md-3 p:last-child {
	margin-bottom: 35px;
}
.hp-more-about {
	width:100%; min-height: 200px; background-color: #000000; color:#FFFFFF;
	padding-top: 75px; padding-bottom: 75px;
}
.hp-more-about p,
.hp-wanna-go p {
	font-size:1.25em; line-height: 30px; margin-bottom: 25px; font-weight: 100;
}
.hp-more-about p:last-child {
	margin-bottom: 35px;
}
.hp-speakers {
	width:100%; min-height: 300px; background-color: #FFFFFF;
	padding-top: 75px; padding-bottom: 75px;
}
.hp-speakers .speaker {
	text-align: center; margin-top: 55px; margin-bottom: 45px;
}
.hp-speakers .speaker .bio-pic {
	width:100%; height:150px; background-color: #818181; max-width: 200px; margin: auto;
	margin-bottom: 25px; 
}
.hp-speakers .speaker h4 {
	font-weight: 500; margin-bottom: 12px; font-size: 1.3em;
}

.hp-wanna-go {
	width:100%; min-height: 200px;
	padding-top: 75px; padding-bottom: 75px;
}
.hp-wanna-go .justify-this img {
	width:100%;
}



.container h1 {
	font-size:2em; margin-bottom: 25px; margin-top: 25px;
}
.course-title {
	margin-bottom: 25px !important; margin-top: 35px; font-size: 1.7em; font-weight: bold !important;
}
.course-listing-title {
	font-weight:bold; font-size: 1.45em; margin-bottom: 8px;
}
.article-action-links {
	width: 100%; text-align: center; margin-top: 45px;
}
.description-header {
	font-weight:bold;
}
.article-meta-details {
	margin-top: 10px; margin-bottom: 0px;
}
.description-header {
	margin-bottom:5px;
}
.course-show-description {
	margin-bottom:0px !important;
}
.course-listing-actions {
	margin-top: -15px !important;
}
.course-show-attendee-name {
	text-align:right;
}
.category-tags p {
	margin-bottom: 12px !important;
}
.category-index-listings li.course-title {
	margin-bottom: 0px !important;
}
.category-index-listings .well {
	padding-bottom: 8px !important;
} 
.input_checkbox input {
	width: auto !important;
}
.courses-content .well {
	margin-bottom: 7px;
}
.category-content .well {
	text-align:center; padding: 0px 0px; margin-bottom: 5px;
}
.category-content .course-title {
	margin-top: 10px; margin-bottom: 10px !important; padding-bottom: 0px;
}
small {
	font-size:.85em; color: #666666; 
}
.profile-content:after {
	content: ".";
	opacity: 0;
	float:none;	
}
.profile-content h1 {
	margin-bottom: 50px;
}
.profile-content h2 {
	font-weight:bold; font-size:1.25em; text-align: center; margin-bottom: 10px;
}
.grav-image {
	margin:auto; text-align: center; margin-bottom: 3px;
}
.profile-content .tiny {
	margin-bottom: 25px; font-size:.5em; font-style: italic;
}
.userpage-profile-block {
	width:100%; max-width: 40%; float:left; padding-top: 45px;
}
.userpage-schedule-block {
	float:right; width:50%; background-color: #FFFFFF; padding: 30px 5%;
	border-radius: 10px; margin-top:45px; 
}
.userpage-schedule-block p.add-link {
	margin-top: -12px !important; font-size: .85em; margin-bottom: 25px !important;
}
.user-schedule-class {
	margin-bottom: 20px; width: 100%; border-bottom:1px solid #999999; padding-bottom: 15px;
}
.user-schedule-class:last-child {
	border-bottom:none;
}
.user-schedule-class-title {
	font-weight: bold;
}
.user-schedule-class-remove {
	text-align: right;
}
.listing-name, .listing-company, .listing-email {
	padding-top:15px;
}
.schedule-listing .listing-name {
	font-weight:bold; font-size: 1.25em;
}
.list-of-class-attendees {
	padding-left: 15px;
}
.list-of-class-attendees h5 {
	font-size:.65em; font-style: italic; margin-top: 8px; margin-bottom: 7px;
}
.list-of-class-attendees ul li {
	margin-left: 2%; margin-bottom: 5px;
}






@media screen and (max-width:1650px) {
.hp-edge-span .edge-mockup {
	margin-top:0px; margin-right:0px;	
}
}
@media screen and (max-width:1199px) {
.hp-edge-span .edge-mockup {
	float:none; margin-top:0px; margin-right:0px; margin:auto;  
}
.hp-edge-span .edge-heading {
	margin-top: 0px;
}
.goAwaySooner {
	display:none;
}
.hp-edge-span h2 {
	font-size: 2em; margin-top: 75px; margin-bottom: 0px; text-align: center;
}
.hp-edge-span h1 {
	font-size:2.25em !important; line-height: 45px;
}
.hp-edge-span .edge-logo {
	margin:auto;
}
}
@media screen and (max-width:990px) {
.navbar-brand {
	width:180px; height: 100px;  
}
.navbar-nav {
	padding-top: 55px;
}
.hp-splash-heading {
	width:90%; font-size:2.75em !important;
}
.hp-span-one p {
	padding: 0px 75px;
}
.hp-edge-span h1 {
	padding-left: 1%; padding-right: 1%;
}
.listing-name, .listing-company, .listing-email {
	padding-top:5px;
}
.course-show-attendee-name p {
	text-align:center; margin-bottom: 2px;
}
.course-show-attendee-company {
	text-align:center;
}
}

@media screen and (max-width:850px) {
.navbar-brand {
	width:125px; height: 70px;  
}
ul.navbar-right a {
	padding-left: 5px;
}
ul.navbar-right a.login-button {
	padding-left: 15px;
}
.navbar-nav {
	padding-top: 38px;
}
.hp-span-one p {
	padding: 0px 35px; font-size: 1.15em;
}
.listing-name, .listing-company, .listing-email {
	padding-top:5px;
}
}


@media screen and (max-width:767px) {
.register-div #city,
.register-div #state,
.register-div #email {
	margin-bottom:12px;
} 
.appear {
	display:inline;
}
.goAway,
.divider {
	display:none;
}
.navbar-header {
	padding-top:9px; 
}
.navbar {
	background-color: #F1F1F1;
}
.navbar-nav {
	padding-top:0px;
}
.navbar-header .navbar-toggle {
	border-color:#888888 !important;
}
.navbar-collapse ul {
	 /*width:100%; padding-left:1.5%; padding-right:1.5%;*/
}
.navbar-default ul li {
	padding-top:8px; padding-bottom:8px;
	padding-left:15px; border-bottom:1px solid #c1c1c1; 
}
.navbar-default ul li a {
	color:#3A3E40; 
}
.navbar-brand {
	width: 120px; height: 70px;
}
ul.navbar-right .dropdown ul li {
	padding-left:35px;
}
ul.navbar-right .dropdown ul li:last-child {
	border-bottom:none;
}
ul.navbar-right a {
	padding-left: 35px; 
}
ul.navbar-right a.login-button {
	padding-left: 35px; margin-left: 0px; margin-top: -5px;
}
.navbar-default .btn {
	margin-left:20px; padding-left:35px; padding-right:35px;
}
.navbar-default {
	border-bottom:1px solid #787878;
}
.category-nav {
	margin-top: 10px; margin-bottom: 20px;
	text-align: center;
}
.session-h1-header {
	text-align: center;
}
.hp-splash-heading {
	width:94%; font-size:2em !important;
}
.page-content {
	padding-top: 80px;
}
.app-messages {
	margin-top: 80px; margin-bottom: -80px; 
}
.userpage-profile-block {
	width:100%; max-width: inherit; float:none; padding-top: 10px;
}
.userpage-schedule-block {
	float:none; width:90%; padding: 30px 5%;
	margin: auto; margin-top:45px; 
}
}

